<div class="well">
{{#link-to 'question' question.id}}
  <h2>{{question.inquiry}}</h2>
  <div class="date">
    <h6>{{question.date}}</h6>
  </div>
  <h4>{{question.author}}</h4>
{{/link-to}}
</div>
<br><br>
