body {
  text-align: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTqSBI9k1KMWr7y_ssX37JKvr98S5a-H4fVqSyCLuW9xqM-KQe);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.boxed {
  background: rgba(125, 15, 6, 0.5);
  width: 800px;
  margin: 20px auto;
  border: 0 none;
  padding: 10px;
  justify-content: center;
}

header {
  background-color: #B52209;
}

.nav-links {
  text-align: center;
}
