body {
  text-align: center;
  background-color: #FFC5C1;
}

.boxed {
  background: rgba(125, 15, 6, 0.5);
  width: 800px;
  margin: 20px auto;
  border: 0 none;
  padding: 10px;
  justify-content: center;

}

header {
    background-color: #B52209;
}
